[build]
  command = "npm run build"
  publish = "dist"

[build.environment]
  SECRETS_SCAN_ENABLED = "false"

[context.production.environment]
  TINA_PUBLIC_IS_LOCAL = "false"

[[redirects]]
  from = "/admin"
  to = "/admin/index.html"
  status = 200
